<link href="/assets/application.css" rel="stylesheet">
<div class="clearfix comment-container">
	<div class="user_head"><img src="<%= @comment.user.head %>/50"></div>
	<div class="comment"><%= @comment.content %></div>
</div>
