body {
  margin: 5px 100px 0 100px;
  font-family: "微软雅黑", Times, serif;
  background-image: url("../images/background.png");
}

.head {
  height: 140px;
  /*background-color: #44B5AF;*/
  background: 0 url("../images/logo.png") no-repeat, 250px url("../images/fubiaoti.png") no-repeat;
  background-color: #44B5AF;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
}

.head h1 {
  padding: 25px 0 30px 20px;
  color: white;
}

.container {
  margin-top: 20px;
  position: relative;
  border-radius: 5px;
  background-color: white;
}

.left {
  float: left;
  width: 64%;
  border-radius: 5px;
  background-color: #F6F4E7;
  box-shadow: 2px 2px 5px gray;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.story-title {
  background-color: #02AfBD;
  color: white;
  box-shadow: 0 3px 3px gray;
  padding: 20px 0 20px 20px;
  margin: 0;
  border-radius: 5px;
  font-size: 30px;
}

ul {
  margin-top: 30px;
}

p {
  padding: 5px 0 5px 0;
}

.vote {
  cursor: pointer;
  padding-left: 10px;
}

.story-content ul li {
  list-style: none;
  background-color: #81CEAD;
  padding: 0 20px 0 20px;
  color: #000000;
  margin-right: 20px;
  margin-left: -20px;
  box-shadow: 0px 3px 3px gray;
}

.right {
  float: right;
  width: 35%;
  background-color: #F6F4E7;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
  overflow: auto;
}

li {
  font-size: 18px;
}

.new-content, .add-content {
  width: 660px;
  height: 200px;
  margin: 10px 10px 10px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px #D1D1D1 inset;
  font-size: 20px;
}

.new-title {
  width: 660px;
  height: 25px;
  margin: 10px 10px 10px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px #D1D1D1 inset;
  font-size: 20px;
}

.story-added li {
  list-style: none;
  background-color: #BCC1C5;
  color: white;
  border-radius: 3px;
  padding: 0 20px 0 20px;
  margin-top: 10px;
  box-shadow: 0 3px 3px gray;
  margin-left: -40px;
  position: relative;
}

.story-content ul {
  background-color: #DEDCDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

.story-added li div {
  position: absolute;
  bottom: 2px;
  right: 10px;
}

.chapter-title {
  background: #F79651;
  color: white;
  box-shadow: 0 3px 3px gray;
  padding-left: 20px;
  margin: 0;
}

.submit-new, .submit-content {
  width: 150px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  background-color: #972D03;
  border-radius: 5px;
  color: white;
  float: right;
  margin-right: 10px;
  font-size: 18px;
  text-decoration: none;
}

.start-story {
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
  background-color: #B4C720;
  border-radius: 5px;
  color: white;
  float: right;
  font-size: 25px;
  margin-right: 50px;
  margin-top: 30px;
  padding-left: 70px;
  text-decoration: none;
  box-shadow: 3px 3px 3px gray;
}

.story {
  position: relative;
  box-shadow: 0 3px 3px gray;
  background-color: #A6CFD3;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
}

.view-more {
  position: absolute;
  bottom: 2px;
  right: 5px;
  text-decoration: none;
  margin-top: 30px;
}

.social {
  height: 50px;
  margin-left: 390px;

  background: url("share_icon.gif") no-repeat;
}

