.main-content.clearfix.row.show-grid.index-container
  .span8
    .story-content
      %h3.story-title.font-big 热门故事
      = render :partial => "stories_list"
  .span4
    - if logged_in
      = render "stories/start_stories"
    %h3.chapter-title 最活跃用户
    %ul.hot-people
