<div class="container">
    <div class="left">
        <div class="story-content">
            <h3 class="story-title">热门故事</h3>
            <% @stories.each do |story|%>
                <div class="story">
                    <img class='head_logo' src='<%= story.user.head %>/50'></img>
                    <div class='index-story-content'>
                        <h4><%= story.title %></h4> 
                        <p><%= story.content%></p>
                    </div>
                    <br>
                    <a class="view-more" href="stories/<%= story.id%>">查看更多</a>
                </div>
            <% end %>
        </div>

    </div>

    <a class="start-story" href="/stories/new"><h1></h1>发起新故事</h1></a>

    <div class="right">
        <div class="story-added">
            <h3 class="chapter-title">作者</h3>
            <ul class='hot_people'>
                <li>
                    <p>张三</p>
                </li>
                <li>
                    <p>李四</p>
                </li>
                <li>
                    <p>王五</p>
                </li>
                <li>
                    <p>赵六</p>
                </li>
            </ul>
        </div>
    </div>
</div>