- @stories.each do |story|
  .story.clearfix
    = render :partial => "shared/head_with_link", :locals => {:user => story.user}
    .index-story-content
      %h4= story.title
      %p= story.content
    %br
      %a.view-more{:href => "/stories/#{story.id}"} 查看更多