- @stories.each do |story|
  .story.clearfix
    %img.head_logo{:src => story.user.head}
    .index-story-content
      %h4= story.title
      %p= story.content
    %br
      %a.view-more{:href => "/stories/#{story.id}"} 查看更多