.center {
    text-align: center;
}

.artfont {
    font-family: "FZMiaoWuS-GB",Helvetica,Arial,sans-serif;
}

.font-big {
    font-size: 25px;
}

.font-middle {
    font-size: 20px;
}

.font-small {
    font-size: 18px;
}