.login_container {
    width: 100%;
    text-align: center;
}

.register-container {
    margin:0 auto;
    width: 50%;
    text-align: center;
}

.login-name, .password {
    width: 60%;
    height: 20px;
    margin: 5px;
}

.login {
    width: 30%;
    padding:0
}

.register {
    width: 80%;
    height: 50px;
    background-color: #390;
    font-size: 30px;
}

.button {
    display: inline-block;
    text-align: center;
    padding: 9px 34px 11px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0;
}

.white.button {
    background-color: rgba(230, 168, 123, 0.74);
    color: black;
}

.large.button {
    font-size: 18px;
}