ul.story_and_follow {
    margin-top: 30px;
    list-style: none;
}

.head_logo_show_wrapper {
    background-color: #DFECF9;
    padding:10px;
    height:100%;
    float:left;
}

.head_logo_show_follow {
    width: 25px;
    height: 25px;
}

.show-container .left {
    border: none;
}

.show-container .story-content {
    background-color: white;
}
