body {
    font-family: 'Hiragino Sans GB',Helvetica,sans-serif;
    background-color: #F9E9C4;
    background: url("/assets/bg.png");
    font-size: 15px;
}

body, ul, img, p{margin:0;padding:0;}

.head {
    background: 250px url("../images/fubiaoti.png") no-repeat;
    background-color: #DED8D6;
    margin-top: 60px;
}

.logo {
    line-height: 140px;
    margin-top: 20px;
}

.back-to-home {
    height: 140px;
    width: 100px;
    line-height: 140px;
}

.main-content {
    height: 100%;
    margin-top: 20px;
}

.left {
    float: left;
    width: 64%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-right: 1px dotted #D37C47;
}

.story-title {
    color: #64A7DE;
    padding: 20px 0 20px 20px;
    margin: 0;
    font-size: 30px;
    border-bottom: 1px dotted #D37C47;
}

p {
    padding: 5px 0 5px 0;
}

.vote {
    cursor: pointer;
    padding-left: 10px;
}

.right {
    float: left;
    margin-left:9px;
    width: 34%;
    overflow: auto;
}

li {
    font-size: 18px;
}

.new-content, .add-content {
    margin-left: 10px;
    width: 580px;
    height: 200px;
    font-size: 20px;
    line-height: 24px;
}

.new-title {
    width: 580px;
    height: 25px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.new-story-content .new-title {
}

.new-story-content .new-contentleft {
    border: none;
}

.hot-people li {
    background-color: #BCC1C5;
    color: white;
    margin-top: 10px;
}

.story-content {
    background-color: white;
}

.story-content ul {
    list-style: none;
    padding: 10px;
}

ul.story_and_follow li.story-start {
    padding: 10px;
    border: solid 2px #AED3E6;
    margin-bottom: 20px;
}

ul.story_and_follow li.follow {
    border: solid 1px #AED3E6;
    margin-bottom: 20px;
}

ul.story_and_follow li.follow .follow-content {
    float:left;
    width:480px;
    margin:10px;
    line-height:20px;
}

li.vote_wrap{
    padding-left: 65px;
}

li.vote_wrap .head_logo_show_wrapper{
    margin-left: -70px;
}

li.vote_wrap .follow-content {
    float:left;
}

.submit-new, .submit-content {
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    background-color: #972D03;
    color: white;
    float: right;
    margin-right: 20px;
    font-size: 18px;
    text-decoration: none;
}

.start-story {
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    background-color: #B4C720;
    color: white;
    float: right;
    font-size: 18px;
    margin-right: 50px;
    margin-top: 30px;
    padding-left: 70px;
    text-decoration: none;
}

.story {
    position: relative;
    padding-right: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 20px;
    border-bottom: dotted 1px #D37C47
}

img.head_logo {
    float: left;
    width: 50px;
    height: 50px
}

.view-more {
    position: absolute;
    bottom: 2px;
    right: 5px;
    text-decoration: none;
    margin-top: 30px;
}

.social {
    height: 50px;
    margin-left: 390px;

    background: url("share_icon.gif") no-repeat;
}

.profile_place_holder {
    float: right;
    font-family: Arial;
    font-size: 28px;
    text-align: center;
}

.login_button {
    margin: 45px 10px 38px 38px;
}

.for_popup {
    position: absolute;
    top: 50px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.story-preview, .follow-preview {
 
}

.follow-preview .follow-title, .follow-preview .comment-title{
    font-style: italic;
    font-size: 12px;
}