div.field, div.actions {
    margin-bottom: 10px;
}

.user-info-wrapper {
    text-align: left
}

.user-info-wrapper input {
    width:300px;
    display: block;
}

.user-info-wrapper input.button {
    background-color: #390;
    width:200px
}

.user-info-wrapper label{
    color:#D37C47;
}

#notice {
    color: green;
}

#error_explanation {
    width: 50%;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    text-align: left;
    font-size: 12px;
    list-style: none;
}

.error {
    color:red
}